<div
  class="card shadow-sm mt-3 m-auto d-flex flex-col flex-md-row container"
  style="max-width: 900px; min-height: 400px"
>
  <div class="m-auto">
    <div>
      <img
        [src]="oneUser?.image"
        class="img-fluid rounded-circle p-5 w-100"
        alt="..."
      />
    </div>
  </div>
  <div class="col-md-6 m-auto py-3 border-start border-success">
    <div class="card-body">
      <h4 class="card-title">{{ oneUser?.first_name }}</h4>
      <h5 class="card-title">{{ oneUser?.last_name }}</h5>
      <p class="text-body-secondary">
        <span class="fw-bold">Usuario: </span>{{ oneUser?.username }}
      </p>
      <p class="text-body-secondary">
        <span class="fw-bold">Email: </span>{{ oneUser?.email }}
      </p>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="deleteUser(oneUser._id)"
        >
          Eliminar
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          [routerLink]="['/updateuser', oneUser?._id]"
        >
          Actualizar
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          [routerLink]="['/home']"
        >
          Volver a listado
        </button>
      </div>
    </div>
  </div>
</div>
