<section class="container">
  <h3 class="my-5">{{ formTitle }}</h3>
  <form [formGroup]="userForm" (ngSubmit)="getUserDataForm()" class="mb-3">
    <div class="mb-3">
      <label for="first_name" class="form-label">Nombre</label>
      <input
        type="text"
        id="first_name"
        class="form-control"
        placeholder="Introduce un nombre de usuario"
        formControlName="first_name"
      />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Apellidos</label>
      <input
        type="text"
        id="last_name"
        class="form-control"
        placeholder="Introduce un nombre de usuario"
        formControlName="last_name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        id="email"
        class="form-control"
        placeholder="Introduce un nombre de usuario"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Imagen de usuario</label>
      <input
        type="text"
        id="image"
        class="form-control"
        placeholder="Introduce un nombre de usuario"
        formControlName="image"
      />
    </div>

    <input type="submit" class="btn btn-danger mt-3" [value]="buttonText" />
  </form>
</section>

<!-- falta de la interfaz

export interface Usuario {
  _id: string;
  id: number;
  username: string;
  password: string;
}

-->
